.about {
  color: #124265;
  margin-top: 90px;
}

.textcap {
  color: dimgrey;
}

.about-intro {
  padding-left: 60px;
  padding-right: 60px;
}

.sec-heading {
  color: dimgrey;
  font-weight: 400;
}

.numbers {
  color: #124265;
}

.happy {
  margin-top: 90px;
}
